<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Controles para navegacion de grids paginados, este
		fragmento de
		HTML puede ser reutilizado por multiples
		grids paginados, factorizando
		cualquier cambio.
	</summary>

	<log>false</log>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>controls.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
	</output>

</config>
