<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Generar reporte PDF
	</summary>
	
	<log>false</log>

	<pdf-title>Consulta de Login fallidos</pdf-title>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />		
		<recordset id="filter.params" source="session" scope="transaction" />		
	</transaction>

	<output>
		<classname>domain.loginfallido.PDFReport</classname>
	</output>

</config>