<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Encabezado común para todas las páginas del módulo
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="appinfo.sql" source="session" scope="transaction" />
		<recordset id="menu-padre.sql" source="session" scope="transaction" />
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>false</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="menu-padre.sql" tag="rows" />
		<print mode="form" recordset="appinfo.sql"/>
	</output>

</config>
