<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Generar reporte generico PDF
	</summary>
	
	<log>false</log>

	<pdf-title>Seguimiento de usuarios</pdf-title>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="viewchart.filter" source="session" scope="transaction" />		
		<recordset id="query.sql" source="session" scope="transaction" />		
	</transaction>

	<output>
		<classname>domain.loginconsulta.PDFReport</classname>
	</output>
	
</config>