<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Motro de búsqueda para vista paginada
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>domain.admin.user.Search</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<on-exit return-code="0" forward-to="${def:actionroot}/view"/>
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound"/>

</config>
