<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-instrumento.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>CRUD Instrumento</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-instrumento.sql' width='100' spacingBefore='40'>
			<col name='nombre_estudio_pl0' title='Estudio' width='50' align='center' />
			<col name='nombre' title='Nombre' width='50' align='left' />
		</table>

	</pdf-report>
</config>