<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Estudio Cerrado
	</summary>

	<log>false</log>

	<transaction>
		<classname>aplicador.MostrarVisorEstudio</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="visor" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="visor" tag="rows" alternate-colors="true"/>
		<print mode="form" recordset="visor"/>
	</output>

</config>
