<!--data grid-->
<table class="grid" width="800px">

	<!--toolbar-->
	<tr>
		<th colspan="8">
			<!--título del grid--> 
			<span style="float: left;">Contenido de la tabla </span>
			<!--panel de control de navegacion--> 
			<span style="float: right;">${req:controls}</span> 
			<!--indicador de progreso-->
			<img id="grid-progress" src="${def:context}/images/progress.gif" style="float: right; margin-right: 10px; display: none"> 
			<!--toolbar del grid-->
			<span style="float: left; margin-left: 40px">
				<img src="${def:context}/images/reload.png" width="18" height="18" onclick="search()" title="Recargar data" class="tool">
				<img src="${def:context}/images/print.png" height="20" width="20" onclick="openPDF()" title="Exportar a PDF" class="tool">
				<img src="${def:context}/images/excel.png" width="18" height="18" onclick="openExcel()" title="Exportar a Excel" class="tool">
			</span>
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th colspan="1"></th>
		<th width="10%"><a href="javascript:onclick=sortBy('nombre_estudio','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Estudio</a></th>
		<th width="10%"><a href="javascript:onclick=sortBy('nombre','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Instrumento</a></th>
		<th width="10%"><a href="javascript:onclick=sortBy('nombre_participante','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Participante</a></th>
		<th width="10%"><a href="javascript:onclick=sortBy('tipo','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Tipo</a></th>
		<th width="40%"><a href="javascript:onclick=sortBy('texto','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Texto</a></th>
		<th width="10%"><a href="javascript:onclick=sortBy('fecha_registro','query-opiniones.sql')" title="Haga CLICK para ordenar por esta columna">Fecha de Registro</a></th>
	</tr>

	<!--data-->
	<rows>
	<tr ${fld:_rowStyle}>
		<td align="center" width="3%"><img src="${def:context}/images/clear.png" width="18" height="18" class="tool" onclick="deleteRecord('${fld:id_opinion}')" title="Eliminar"></td>
		<td align="center">${fld:nombre_estudio}</td>
		<td align="center">${fld:nombre}</td>
		<td align="center">${fld:nombre_participante}</td>
		<td align="center">${fld:tipo}</td>
		<td align="center">${fld:texto}</td>
		<td align="center">${fld:fecha_registro}</td>
	</tr>
	</rows>

</table>