<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Administrar Participantes
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>responsable.MonitoreoGeneralEstudioCerradoPorParticipante</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="estudio.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="output" />
		<print mode="form" recordset="estudio.sql" />
	</output>

</config>
