<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-intestudiousuario.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-intestudiousuario.sql' sheetname='Agregar Aplicador a Estudio' filename='apl.xls'>
		<col id='id_usuario' label='Aplicador' />
		<col id='nombre_estudio_pl0' label='Estudio' />
	</excel>

</config>