<!--data grid-->
<table class="grid" style="width: 95%;">

	<!--toolbar-->
	<tr>
		<th colspan="1">
			<span style="color: gray; float: left;"></span> 
			<!--panel de control de navegacion--> 
			<span style="float: right;">${req:controls}</span> 
			<!--indicador de progreso-->
			<img id="grid-progress" style="float: right; display: none" src="${def:context}/images/progress.gif">
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th width="100%"><a href="javascript:onclick=sortBy('nombre_estudio','query-estudio.sql')" title="Haga CLICK para ordenar por esta columna">Estudio</a></th>

	</tr>

	<!--data-->
	<rows>
	<tr ${fld:_rowStyle} onmouseover="rowOn(this)"onmouseout="rowOff(this)" onclick="selectItem('${fld:id_estudio}')">
		<td style="font-size: 9pt;" align="center"><span id="${fld:id_estudio}">${fld:nombre_estudio}</span></td>
		
	</tr>
	</rows>

</table>

