<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ver resultado de la consulta con tablas y graficos
	</summary>

	<log>false</log>

	<transaction>
		<classname>domain.utils.ExportSecurityScript</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
