<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-empresa.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-empresa.sql' sheetname='CRUD Empresa' filename='empresa.xls'>
		<col id='nombre_sector_pl0' label='Sector Empresarial' />
		<col id='nombre_empresa' label='Nombre' />
		<col id='telefono' label='Teléfono' />
		<col id='tipo' label='Tipo' />
		<col id='rif' label='RIF' />
	</excel>

</config>