<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-participantes.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-participantes.sql' sheetname='Participantes' filename='participantes.xls'>
		<col id='id_participante' label='Identificador' />
		<col id='nombre_participante' label='Nombre' />
		<col id='apellido_participante' label='Apellido' />
		<col id='email_participante' label='e-mail' />
		<col id='area' label='Area' />
		<col id='cargo' label='Cargo' />
		<col id='sexo' label='Sexo' />
		<col id='completado2' label='Instrumentos Completados' />
		<col id='link' label='Enlace Estudio' />
	</excel>

</config>