<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Usuarios Bloqueados
	</summary>
	
	<log>false</log>

	<set-request-attribute id="help.msg" value="Ayuda en línea para la página VER..." />

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.txt</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query.sql" tag="rows" alternate-colors="true"/>
	</output>

</config>
