<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>	
			<colname>orden</colname>
			<colname>icon_path</colname>
			<colname>service_id</colname>
		</cols>
		<table>s_panel</table>
		<oper>AÑADIR</oper>
		<area>Panel</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey params="insert.sql">select ${fld:insert.sql.lastid} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransactionIdentity</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="panel.validator" source="session" scope="transaction" />
	</transaction>

	<query params="panel.validator">insert.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
