/* lightbox */
.overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ccccff;
	z-index: 1001;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	
}

.progressTopRight {
	float: right; margin-right:10px
}

.progressTopRight img {
	vertical-align: middle;
}

.progress {
	display: none;
	margin-top: 5px;
	color: gray;
	width: 200px;
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
}

/* mensajes de validacion ajax en formularios */
.errormsg {
	color: red;
}

/*picklist*/
.pickListBody {
	border-color: black;
	background-color: white;
}

.pickListHeader {
	background-image: url(images/header-bg.gif);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	color: gray;
}

/* grid */
.grid {
	border: 1px lightgrey solid;
	border-collapse: collapse;
}

.grid th {
	background-image: url(images/grid-hdr-bgcolor.gif);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: normal;
	padding: 3px;
	border: 1px lightgrey solid;
	color: gray;
}

.grid td {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
	padding: 2px;
	border: 1px lightgrey solid;
}

.grid tr.altColor td {
	background-color: #F7F7F7;
}

.grid tr.normalColor td {
	background-color: white;
}

.grid th a {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: normal;
	padding: 3px;
	color: gray;
}

.grid th a:link {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	padding: 3px;
	color: gray;
}

.grid th a:visited {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	padding: 3px;
	color: gray;
}

.grid th a:hover {
	text-decoration: none;
	color: red;
	background-color: yellow;
}

.grid TR.hilite TD {
	background-color: #E3E4FA;
	cursor: pointer;
}

/* forms */
.formgrid {
	border: 1px lightgrey solid;
	border-collapse: collapse;
	background-color: #F7F7F7;
}

.formgrid TH {
	background-image: url(images/grid-hdr-bgcolor.gif);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 4px;
	border: 1px lightgrey solid;
	text-align: left;
	color: gray;
}

.formgrid TD {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
}

.formgrid TD.formlabel {
	text-align: right;
	padding-right: 7px;
	vertical-align: top;
}

.formgrid TD.required {
	font-style: italic;
	text-decoration: underline;
}

.formgrid TD.formlabelcrud {
	text-align: left;
	padding-left: 7px;
}

/* navigation controls */
.navcontrols {
	width: 200px;
}

.navcontrols td {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.banner {
	background-image: url(images/header-bg.gif);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-weight: bold;
	font-size: 10pt;
	padding: 3px;
	border: 1px #eeeeee solid;
	color: gray;
	height: 20px; 
	margin-bottom: 0px
}

/* regular tags */
form {
	margin: 0px;
}

body {
	font-family: Verdana;
	font-size: 9pt;
	background: white;
	margin: 0px;
}

h1 {
	font-family: Verdana;
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
}

h3 {
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
}

p {
	font-family: Arial;
	font-size: 9pt;
}

/* hyperlinks */
a {
	font-family: Arial;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
	background-color: yellow;
}

/* message box */
.alert {
	text-align: center;
	color: blue;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
}

.message {
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
}

input[type="submit"],input[type="button"],button {
	cursor: pointer;
}

select {
	background-color: white;
}

.button {
	cursor: pointer;
}

.tool {
	cursor: pointer;
	vertical-align: middle;
	margin-top: 2px;
}

.tool2 {
	cursor: pointer;
}

.panel td {
	font-style: italic;
	font-size: 10pt;
	width: 120px;
	height: 120px
}

/*
BEGIN MENU
*/
.menuBody {
	height: 1100px;
	margin-left: 0px;
	margin-right: 0px;
	border-right: dotted 1px silver;
}

.menuContainer {
	width: 100%;
	border-bottom: dotted 1px silver;
}

.menuTitle {
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 9pt;
	font-weight: normal;
	padding-left: 6px;
	padding-top: 7px;
	height: 24px;
}

.menuItems {
	padding-bottom: 10px;
	text-align: left;
	background-color: white;
}

.menuItem {
	padding-left: 16px;
	color: black;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding-bottom: 5px;
}

div.menuTitle:hover,div.menuItem:hover {
	cursor: pointer;
	background-color: Lavender;
	color: blue;
}

	/* BEGIN IE6 hack */
	.menuTitleHover {
		cursor: pointer;
		background-color: Lavender;
		color: blue;
		font-family: Verdana;
		font-size: 9pt;
		font-weight: normal;
		padding-left: 6px;
		padding-top: 7px;
		height: 24px;
	}
	
	.menuItemHover {
		cursor: pointer;
		background-color: Lavender;
		color: blue;
		padding-left: 16px;
		font-family: Verdana;
		font-size: 8pt;
		font-weight: normal;
		padding-bottom: 5px;
	}
	/* END IE6 hack */ 

/* END MENU */

