<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Usuario (include) - formulario de filtro de búsqueda
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>domain.admin.user.Filter</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="roles.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>false</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<!--standard data bindings - do not remove-->
		<print mode="form" recordset="user.filter"/>
		<print mode="combo" control="orderby" recordset="user.filter"/>
		<print mode="combo" control="sortmode" recordset="user.filter"/>
		<print mode="combo" control="pagesize" recordset="user.filter"/>
	</output>

</config>
