<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
    Document   : config.xml
    Created on : 29 de abril de 2011, 10:19 AM
    Author     : Kate
    Description:
        Purpose of the document follows.
-->

<config>

	<summary>
		Usuario (include) - formulario de filtro de búsqueda
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator session="true" >true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.html</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>

