<center>

<!--grid-->
<table class="grid" width="80%" cellspacing="1">
	
		<!--encabezados-->
	<tr>
		<th colspan="7">
			<span style="float:left" >
				Resultados
			</span>
			
			<span style="float:right;">
				<!--panel de control de navegacion-->
				${inc:/action/pagecontrols}
			</span>
			
			<span style="float:left;margin-left:60px">
				<img src="${def:context}/images/grid-split.gif" class="tool">
				<img src="${def:context}/images/back.gif" onclick="javascript:goBack()" title="Buscar de nuevo" class="tool">
				<img src="${def:context}/images/print.gif" onclick="openPDF()" title="Exportar a PDF" class="tool">
				<img src="${def:context}/images/excel.gif" onclick="openExcel()" title="Exportar a Excel" class="tool">
				<img src="${def:context}/images/grid-split.gif" class="tool">
			</span>
			
			<span id="grid-progress" style="float:right;margin-right:20px;display:none">
				<img src="${def:context}/images/progress.gif">
			</span>
		</th>
	</tr>
	
	<tr>
		<th>
			<a href="javascript:onclick=sortBy('userlogin')" title="Haga CLICK para ordenar por esta columna">
				Usuario
			</a>
		</th>
		<th>
			<a href="javascript:onclick=sortBy('login_date')" title="Haga CLICK para ordenar por esta columna">
				${lbl:s_loginhist_col1}
			</a>
		</th>
		<th>
			<a href="javascript:onclick=sortBy('login_time')" title="Haga CLICK para ordenar por esta columna">
				${lbl:s_loginhist_col2}
			</a>
		</th>
		<th>
			<a href="javascript:onclick=sortBy('remote_addr')" title="Haga CLICK para ordenar por esta columna">
				${lbl:s_loginhist_col3}
			</a>
		</th>
		<th>
			<a href="javascript:onclick=sortBy('context')" title="Haga CLICK para ordenar por esta columna">
				${lbl:s_loginhist_col4}
			</a>
		</th>
	</tr>
	
	<rows>
	<tr>
	<td ${fld:_rowStyle} align="center">${fld:fname} ${fld:lname}</td>
	<td ${fld:_rowStyle} align="center">${fld:login_date}</td>
	<td ${fld:_rowStyle} align="center">${fld:login_time}</td>
	<td ${fld:_rowStyle} align="center">${fld:remote_addr}</td>
	<td ${fld:_rowStyle} align="center">${fld:context}</td>
	</tr>
	</rows>
	
</table>

</center>
