/* lightbox */
.overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ccccff;
	z-index: 1001;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	
}

.progressTopRight {
	float: right; margin-right:10px
}

.progressTopRight img {
	vertical-align: middle;
}

.progress {
	display: none;
	margin-top: 5px;
	color: gray;
	width: 200px;
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
}

/* mensajes de validacion ajax en formularios */
.errormsg {
	color: red;
}

/*picklist*/
.pickListBody {
	border-color: black;
	background-color: white;
}

.pickListHeader {
	background-image: url(images/header-bg.gif);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	color: gray;
}

/* grid */
.grid {
	border: 1px lightgrey solid;
	border-collapse: collapse;
}

.grid th {
	background-color: lightgray;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: normal;
	padding: 3px;
	border: 1px lightgrey solid;
	color: gray;
}

.grid td {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
	padding: 2px;
	border: 1px lightgrey solid;
}

.grid tr.altColor td {
	background-color: lightgray;
}

.grid tr.normalColor td {
	background-color: white;
}

.grid th a {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: normal;
	padding: 3px;
	color: gray;
}

.grid th a:link {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	padding: 3px;
	color: gray;
	font-weight: bold;
}

.grid th a:visited {
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	padding: 3px;
	color: gray;
}

.grid th a:hover {
	text-decoration: none;
	color: red;
}

.grid TR.hilite TD {
	background-color: #E3E4FA;
	cursor: pointer;
}

/* forms */
.formgrid {
	border: 1px lightgrey solid;
	border-collapse: collapse;
	background-color: #F7F7F7;
}

.formgrid TH {
	background-color: #AFC6F4;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 4px;
	border: 1px lightgrey solid;
	text-align: center;
	color: gray;
}

.formgrid TD {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
}

.formgrid TD.formlabel {
	text-align: right;
	padding-right: 7px;
	vertical-align: top;
}

.formgrid TD.required {
	font-style: italic;
	text-decoration: underline;
}

.formgrid TD.formlabelcrud {
	text-align: left;
	padding-left: 7px;
}

/* navigation controls */
.navcontrols {
	width: 200px;
}

.navcontrols td {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 9pt;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.banner {
	background-color: #AFC6F4;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-weight: bold;
	font-size: 15pt;
	padding: 3px;
	border: 1px #eeeeee solid;
	color: white;
	height: 25px; 
	margin-bottom: 15px
}

.bannerGrande {
	background-color: #AFC6F4;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-weight: bold;
	font-size: 12pt;
	padding: 3px;
	border: 1px #eeeeee solid;
	color: grey;
	height: 60px; 
	margin-bottom: 5px
}

#container{
    position: relative;
    width: 90%;
    height: 90px;
    margin-bottom: 1%;
    /*margin-top: 0.5%;*/
}

#main_image{
    width: 100%;
    height: 100%;
}
#overlay_image{
    position: absolute;
    bottom: 0px;
    left: 0.2%;
    width: 90px;
    height: 90px;
}
#overlay_image2{
    position: absolute;
    bottom: 0px;
    right: -10.9%;
    width: 90px;
    height: 90px;
}
#overlay_text{
    position: absolute;
    bottom: 40%;
    right: 5%;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	color: grey;
}
#mail_sample {
	margin: 10px 15px 10px 15px;
	border: 1px solid black;
}

/* regular tags */
form {
	margin: 0px;
}

body {
	font-family: Verdana;
	font-size: 9pt;
	background-color: white;
	margin: 0px;
}

h1 {
	font-family: Verdana;
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
}

h3 {
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
}

p {
	font-family: Arial;
	font-size: 9pt;
}

/* hyperlinks */
a {
	font-family: Arial;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: red;
}

/* message box */
.alert {
	text-align: center;
	color: blue;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
}

.message {
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
	padding: 5px;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10pt;
}

input[type="submit"],input[type="button"],button {
	cursor: pointer;
}

select {
	background-color: white;
}


.tool {
	cursor: pointer;
	vertical-align: middle;
	margin-top: 2px;
}

.tool2 {
	cursor: pointer;
}

.panel td {
	font-style: italic;
	font-size: 10pt;
	width: 120px;
	height: 120px
}

/*
BEGIN MENU
*/
.menuBody {
	height: 1100px;
	margin-left: 1px;
	margin-right: 0px;
	border-right: solid 1px gray;
}

.menuContainer {
	width: 100%;
	border-bottom: solid 1px gray;
}

.menuTitle {
	background-color: white;
	color: gray;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 6px;
	padding-top: 7px;
	height: 24px;
}

.menuItems {
	padding-bottom: 10px;
	text-align: left;
	background-color: white;
}

.menuItem {
	padding-left: 16px;
	color: gray;
	font-family: Verdana;
	font-size: 9pt;
	font-weight: normal;
	padding-bottom: 5px;
}

div.menuTitle:hover,div.menuItem:hover {
	cursor: pointer;
	background-color: #AFC6F4;
}

	/* BEGIN IE6 hack */
	.menuTitleHover {
		cursor: pointer;
		background-color: Lavender;
		color: blue;
		font-family: Verdana;
		font-size: 9pt;
		font-weight: normal;
		padding-left: 6px;
		padding-top: 7px;
		height: 24px;
	}
	
	.menuItemHover {
		cursor: pointer;
		background-color: Lavender;
		color: blue;
		padding-left: 16px;
		font-family: Verdana;
		font-size: 8pt;
		font-weight: normal;
		padding-bottom: 5px;
	}

	html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:63px; /* Height of the footer element */
}
#footer {
	background: white;
	width:100%;
	height:63px;
	position:absolute;
	bottom:0;
	left:0;
}

#login {
	position: relative;
  	top: 50%;
  	transform: translateY(50%);
}

#login2 {
	position: relative;
  	top: 50%;
  	transform: translateY(10%);
}

	/* END IE6 hack */ 

/* END MENU */



