<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro
	</summary>
	
	<log>false</log>

	<set-request-attribute id="help.msg" value="Ayuda en línea para la página INSERTAR..." />
	
	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>	
			<colname>rolename</colname>		
			<colname>description</colname>
		</cols>
		<table>s_role</table>
		<oper>AÑADIR</oper>
		<area>Roles</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey params="insert.sql">select ${fld:insert.sql.lastid} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransactionIdentity</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.txt</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>
