<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Envio de link de encuenta a entrevistado o empleado de salida 
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator >true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
                <recordset id="participante.sql" source="sql" scope="session" />
                <recordset id="estudio.sql" source="sql" scope="session" />
                <recordset id="link.sql" source="sql" scope="session" />
                 </transaction>

	
         <mail enabled="true">
		<subject recordset="estudio.sql">${fld:nombre}</subject>
		<mail-to recordset="participante.sql" colname="email_participante"></mail-to>
		<body recordset="link.sql">body.txt</body>
         </mail>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
