<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<transaction>
		<classname>estudio.abierto.identificado.InsertarParticipante</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>insert-int-participante-lista.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>output.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="id_encuesta"/>
	</output>

</config>
