<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-empresa.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>CRUD Empresa</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-empresa.sql' width='100' spacingBefore='40'>
			<col name='nombre_sector_pl0' title='Sector Empresarial' width='20' align='center' />
			<col name='nombre_empresa' title='Nombre' width='20' align='left' />
			<col name='telefono' title='Teléfono' width='20' align='left' />
			<col name='tipo' title='Tipo' width='20' align='left' />
			<col name='rif' title='RIF' width='20' align='left' />
		</table>

	</pdf-report>
</config>