<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-participantes.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>Monitoreo General</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-participantes.sql' width='100' spacingBefore='40'>
			<col name='id_participante2' title='Identificador' width='55' align='center' />
			<col name='nombre_participante' title='Nombre' width='55' align='center' />
			<col name='apellido_participante' title='Apellido' width='55' align='center' />
			<col name='email_participante' title='e-mail' width='55' align='center' />
			<col name='area' title='Area' width='55' align='center' />
			<col name='cargo' title='Cargo' width='55' align='center' />
			<col name='sexo' title='Sexo' width='55' align='center' />
			<col name='completado2' title='Instrumentos Completados' width='55' align='center' />
		</table>

	</pdf-report>
</config>