<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-participante.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>Administrar Participantes</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-participante.sql' width='100' spacingBefore='40'>
			<col name='nombre_participante' title='Nombre' width='10' align='left' />
			<col name='apellido_participante' title='Apellido' width='10' align='left' />
			<col name='email_participante' title='e-mail' width='10' align='left' />
			<col name='cargo' title='Cargo' width='10' align='left' />
			<col name='supervisor' title='Supervisor' width='10' align='left' />
			<col name='fecha_nacimiento' title='Fecha de Nacimiento' width='10' align='center' format='dd-MM-yyyy' />
			<col name='fecha_ingreso' title='Fecha de Ingreso' width='10' align='center' format='dd-MM-yyyy' />
			<col name='sexo' title='Sexo' width='10' align='left' />
			<col name='tipo_nomina' title='Tipo de Nómina' width='10' align='left' />
			<col name='funcion' title='Función' width='10' align='left' />
		</table>

	</pdf-report>
</config>