<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-spanel.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-spanel.sql' sheetname='Panel' filename='panel.xls'>
		<col id='alias' label='Alias' />
		<col id='desc_app' label='Aplicación' />
		<col id='path' label='Action' />
		<col id='icon_path' label='Imagen' />
		<col id='description' label='Descripción' />
		<col id='orden' label='Orden' />
	</excel>

</config>